---
import Layout from "../components/Layout404.astro";
---

<Layout>

  <section>
    <article>

      <a href="/">
        Return Home</a>
    <p>Sorry page not found</p>

    </article>
  </section>
</Layout>
<style>
  section {
    background-color: bisque;
    width: 90%;
    margin:  0 auto;
    height: 50vh;
  }
  section {
   padding: 1rem;
   font-size: 32px;
   flex-flow: column nowrap;
   text-align: center;
  
   
   
   
  }
 
</style>